---
layout: default
title: Home
---



<!--
With the cancellation of in person classes, all departmental seminars and the department colloquium have been cancelled for the remainder of the Spring, 2020 semester.
A comprehensive and current list of online mathematics seminars can be found  <a href="{{ site.baseurl }}https://mathseminars.org/">here</a>.

The department has four weekly seminars:

   - **Departmental Colloquium** on Tuesdays from 4:00-5:00pm with refreshments available from 3:45-4:00pm in Adel 164.
   - **ACGT** (Algebra, Combinatorics, Geometry, Topology) Seminar on Tuesdays from 1:00-2:00pm in Adel 221.
   - **AMS** (Applied Math Seminar) on Thursdays from 12:45-1:45pm in Adel 163.
   - **FAMUS** (Friday Afternoon Undergraduate Mathematics Seminar) on Fridays from 3:00-4:15pm with refreshments in Adel 164.

Click on the links in the left sidebar to see schedules and more information. -->

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{site.baseurl}}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
